$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$font-family-sans-serif: "Roboto", sans-serif;

$font-weight-ultra: 700;
$font-weight-strong: 500;
$font-weight-normal: 400;
$font-weight-thin: 300;

$font-size-base-px: 16px;
$font-size-title-px: 18px;
$font-size-heading-px: 30px;
$font-size-menu-px: 18px;
$font-size-h1: 30px;
$font-size-btn-lg-px: 18px;
$font-size-btn-md-px: 16px;
$font-size-btn-sm-px: 14px;

$color-bcg-light: #ffffff;
$color-bcg-grey: #eeebf5;
$color-bcg-grey-hover: #f8f9fa;

$color-primary: #7a40f2;
$color-brand: #7a40f2;
$color-action1: #87ca2d;
$color-action2: #ff1c66;

$font-color-text: #707070;
$font-color-main: #252525;
$font-color-dark: #111111;
$font-color-inactive: #acacb7;
$font-color-placeholder: #acacac;

$border-radius-lg: 25px;
$border-radius-md: 18px;
$border-radius-sm: 15px;

$btn-border-width: 2px;

$shadow-container: 0px 8px 5.5px rgba(31,29,72,0.27);
$shadow-main-item: 0px 8px 5.5px rgba(98,90,229,0.06);
$shadow-main-dropdown: 0px 7px 5.5px rgba(62,56,156,0.24);
$shadow-main-modal: 0px 8px 5.5px rgba(31,29,72,0.16);