//breakpoint-up !!

.dashboard-container {
  min-height: 100vh;
  background: $color-bcg-grey;
  position: relative;

  .dashboard-content {
    margin-left: 375px;
    padding-right: 15px;
    .content-container {
      padding-left: 45px;
      padding-right: 45px;
      padding-bottom: 80px;
    }
  }

  @include media-breakpoint-down(xl) {
    .dashboard-content {
      margin-left: 315px;
      .content-container {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}

.action-bar {
  padding: 50px 0;

  .items-left {
    float: left;
    button {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .items-right {
    float: right;
    display: flex;
  }
  .search-holder {
    display: flex;
    width: 440px;
    input {
      flex: 1;
      margin-right: 8px;
    }
  }
  .user-holder {
    margin-left: 10px;
    .btn-dropdown-menu {
      box-shadow: $shadow-main-item;
    }
  }

  @media (max-width: map-get($grid-breakpoints, xxxl)) {
    display: flex;
    justify-content: space-between;
    .items-left {
      flex: 1 0 auto;
      button {
        margin-right: 12px;
      }
    }
    .items-right {
      width: 100%;
      justify-content: flex-end;
      margin-left: 25px;
    }
    .search-holder {
      flex-grow: 1;
      width: auto;
    }
  }
}