.default-product-content {
  margin: 0 auto;
  width: 100%;
  max-width: 980px;

  .default-product-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .default-product-card {
      width: 300px;
      padding: 0;
      border-radius: $border-radius-lg;
      background: $color-bcg-light;
      box-shadow: $shadow-main-item;
      margin-bottom: 40px;
      overflow: hidden;

      .top {
        overflow: hidden;
        width: 100%;
        height: 200px;
        border-radius: $border-radius-lg;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .main {
        width: 100%;
        padding: 35px 32px;

        .heading {
          padding-bottom: 15px;

          span {
            font-size: $font-size-title-px;
            color: $font-color-main;
            font-weight: $font-weight-strong;
          }
        }

        p {
          color: $font-color-text;
          font-size: $font-size-base-px;
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  &.list-display {
    max-width: 800px;

    .default-product-holder {
      .default-product-card {
        display: flex;
        align-items: center;
        padding: 0;
        width: 100%;
        margin-bottom: 20px;

        .top {
          width: 180px;
          height: 180px;
          flex: 0 0 180px;
        }

        .main {
          padding: 30px 40px;
          width: auto;
          .heading {
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}